{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $baseSourceDir := ".local/share/chezmoi" -}}

{{- $sourceDir := joinPath .chezmoi.homeDir $baseSourceDir -}}

{{- if eq .chezmoi.os "linux" -}}
    {{- $ostree := index .chezmoi.osRelease "ostreeVersion" | default "" -}}
    {{- if and $ostree (not (hasPrefix "/var" .chezmoi.homeDir)) -}}
        {{- $sourceDir = joinPath "/var" .chezmoi.homeDir $baseSourceDir -}}
    {{- end -}}
{{- end -}}
sourceDir = {{ $sourceDir | quote }}

[git]
autoCommit = true
autoPush = true

[diff]
command = "delta"
pager = "bat"

[merge]
command = "nvim"
args = ["-d", "{{ "{{ .Destination }}" }}", "{{ "{{ .Source }}" }}", "{{ "{{ .Target }}" }}"]

[data]
email = {{ $email | quote }}
sterlingHostname = "sterling-mbp"
