{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $baseSourceDir := ".local/share/chezmoi" -}}

{{- if (and (and (eq .chezmoi.os "linux") .chezmoi.osRelease.ostreeVersion) (not (hasPrefix "/var" .chezmoi.homeDir))) -}}
    sourceDir = {{ joinPath "/var" .chezmoi.homeDir $baseSourceDir | quote }}
{{- else -}}
    sourceDir = {{ joinPath .chezmoi.homeDir $baseSourceDir | quote }}
{{- end }}

[git]
autoCommit = true
autoPush = true

[diff]
command = "delta"
pager = "bat"

[merge]
command = "nvim"
args = ["-d", "{{ "{{ .Destination }}" }}", "{{ "{{ .Source }}" }}", "{{ "{{ .Target }}" }}"]

[data]
email = {{ $email | quote }}
sterlingHostname = "sterling-mbp"
