{{if ne .chezmoi.homeDir (joinPath "/var" "/home" .chezmoi.username)}}
sourceDir = "{{ joinPath "/var" .chezmoi.homeDir ".local/share/chezmoi"}}"
{{end}}

[git]
autoCommit = true
autoPush = true

[diff]
command = "delta"
pager = "bat"

[merge]
command = "nvim"
args = ["-d", "{{ "{{ .Destination }}" }}", "{{ "{{ .Source }}" }}", "{{ "{{ .Target }}" }}"]
