[user]
	email = nilueps@gmail.com
	name = Nicolas Epstein
[pull]
	rebase = false
[push]
	default = upstream
	autoSetupRemote = true
[init]
	defaultBranch = main
[merge]
	tool = nvimdiff
	ff = only
[diff]
	external = difft
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
	st = status --short --branch
	a = add
	aa = add -A
	c = commit
	fixup = commit --fixup
	squash = commit --squash
	ca = commit --amend
	can = commit --amend --no-edit
	cana = commit --amend --no-edit --all
	p = push
	pf = push --force-with-lease
	f = fetch
	sw = switch
	stsh = stash --keep-index
	staash = stash --include-untracked
	rbi = rebase --interactive
	rba = rebase --abort
	rbc = rebase --continue
	last = log -1 HEAD
	lo = log --oneline
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	co = checkout
	cp = cherry-pick
	cpc = cherry-pick --continue
	mt = mergetool
	cf = clean --force
	d = diff
	ds = diff --staged
	br = branch
	rpo = remote prune origin
[rerere]
	autoUpdate = true
[transfer]
	fsckObjects = true
[rebase]
	autoSquash = true
