[alias]
	fixup = commit --fixup
	last = log -1 HEAD
	squash = commit --squash
	today = log --since=00:00:00 --all --no-merges --oneline --author=nilueps@gmail.com
	co = checkout
[branch]
	sort = -committerdate
[commit]
	verbose = true
[core]
	excludesFile = ~/.gitignore
	pager = delta
[diff]
	external = difft
	algorithm = histogram
	word
	colorMoved = default
[fetch]
	prune = true
[help]
	autoCorrect = prompt
[init]
	defaultBranch = main
[merge]
	tool = nvimdiff
	ff = only
	conflictStyle = zdiff3
[pull]
	ff = only
[push]
	autoSetupRemote = true
[rebase]
	autoSquash = true
	updateRefs = true
[rerere]
	enabled = true
	autoUpdate = true
[transfer]
	fsckObjects = true
[user]
	email = nilueps@gmail.com
	name = Nicolas Epstein
[url "git@github.com:"]
	insteadOf = "https://github.com/"
