[user]
	email = nilueps@gmail.com
	name = Nicolas Epstein
[pull]
	rebase = false
[push]
	autoSetupRemote = true
[init]
	defaultBranch = main
[merge]
	tool = nvimdiff
[diff]
	external = difft
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
