[user]
	email = {{ .email | quote }}
	name = Nicolas Epstein
[init]
	defaultBranch = main
[core]
	excludesFile = ~/.gitignore
	pager = delta
[column]
	ui = auto
[branch]
	sort = -committerdate
[tag]
	sort = version:refname
[commit]
	verbose = true
	{{ if eq .chezmoi.hostname .sterlingHostname -}}
	template = ~/.gitmessage.txt
	{{- end }}
[fetch]
	prune = true
	pruneTags = true
	all = true
[pull]
	rebase = true
[push]
	default = simple
	autoSetupRemote = true
	followTags = true
[rebase]
	autoSquash = true
	autoStash = true
	updateRefs = true
[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true ; use i/, w/ and c/ for index, worktree and commit instead of a/, b/, c/...
	renames = true
[merge]
	conflictStyle = diff3
	tool = nvimdiff
	guitool = meld
[rerere]
	enabled = true
	autoUpdate = true
[mergetool]
	keepBackup = false
[mergetool "meld"]
	cmd = flatpak run org.gnome.meld -- "$LOCAL" "$MERGED" "$REMOTE"
[delta]
	navigate = true
[interactive]
	diffFilter = delta --color-only
[transfer]
	fsckObjects = true
[url "git@github.com:"]
	insteadOf = "https://github.com/"
[url "git@gitlab.com:"]
	insteadOf = "https://gitlab.com/"
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[help]
	autoCorrect = prompt
[advice]
	mergeConflict = false
[alias]
	fixup = commit --fixup
	last = log -1 HEAD --ext-diff
	today = log --since 00:00:00 --all --no-merges --oneline --author nilueps@gmail.com --ext-diff
	co = checkout
	sho = show --ext-diff
	unstage-commit = !git reset HEAD^ && git commit --reuse-message ORIG_HEAD --allow-empty --no-verify
	rand = commit -am (openssl rand -hex 8)
