:root {
	--tab-min-height: 20px !important;
	--inline-tab-padding: 4px !important;
	--tab-border-radius: 0 !important;
	--tab-shadow-max-size: 0 !important;
	--tab-block-margin: 0 !important;

  --urlbar-min-height: 20px !important;
}

.tab-label-container {
  height: 20px !important;
}

.tab-background {
  box-shadow: none !important;
  /*border-right: 1px solid grey !important;*/
}

.tab-text {
	font-size: 12px !important;
}

.tab-close-button {
  display: none !important;
}

#tabs-newtab-button {
  display: none;
}

