# -*- conf -*-

shell=/usr/bin/fish
font=FantasqueSansM Nerd Font Mono:size=11, Noto Color Emoji:size=11
font-size-adjustment=2
underline-thickness=1
underline-offset=6
# line-height=16
# letter-spacing=-1

{{if eq .chezmoi.hostname "blackbox"}}
initial-window-size-chars=160x80
pad=10x8
{{else}}
initial-window-size-chars=100x40
pad=4x4
{{end}}

include=/usr/share/foot/themes/gruvbox-dark

[scrollback]
lines=50000

[url]
label-letters=aoeuidhtns

[mouse]
hide-when-typing=yes

[csd]
{{if eq .chezmoi.hostname "blackbox"}}size=32{{end}}
border-width={{if eq .chezmoi.hostname "blackbox"}}2{{else}}1{{end}}

[key-bindings]
scrollback-up-half-page=Shift+Page_Up
scrollback-up-page=none
scrollback-down-half-page=Shift+Page_Down
scrollback-down-page=none
scrollback-home=Shift+Home
scrollback-end=Shift+End

[search-bindings]
find-prev=Control+p
find-next=Control+n

[url-bindings]
toggle-url-visible=k

# vim: ft=dosini
