# -*- conf -*-

shell=/usr/bin/fish

{{- $fontSize := 13 -}}
{{- if eq .chezmoi.hostname "t14" }}{{$fontSize = 10}}{{ end -}}

font=JetBrains Mono:size={{ $fontSize }}, Symbols Nerd Font:size={{ $fontSize }}, Noto Color Emoji:size={{ $fontSize }}
line-height={{ mulf $fontSize 1.2 }}
font-size-adjustment=1
underline-thickness=1
underline-offset=6
# letter-spacing=-1
box-drawings-uses-font-glyphs=yes

{{if eq .chezmoi.hostname "t14"}}
initial-window-size-chars=100x40
pad=4x4
{{else if eq .chezmoi.hostname "blackbox"}}
initial-window-size-chars=160x80
pad=10x8
{{end}}

include=/usr/share/foot/themes/gruvbox-dark

[scrollback]
lines=100000

[url]
label-letters=aoeuidhtns

[mouse]
hide-when-typing=yes

[csd]
border-width={{if eq .chezmoi.hostname "blackbox"}}2{{else}}1{{end}}
{{ if eq .chezmoi.hostname "blackbox" -}}size=32{{- end }}

[key-bindings]
scrollback-up-half-page=Shift+Page_Up
scrollback-up-page=none
scrollback-down-half-page=Shift+Page_Down
scrollback-down-page=none
scrollback-home=Shift+Home
scrollback-end=Shift+End

[search-bindings]
find-prev=Control+p
find-next=Control+n

[url-bindings]
toggle-url-visible=k

# vim: ft=dosini
