# -*- conf -*-

{{- $fontSize := 13 }}
{{- if eq .chezmoi.hostname "t14" }}{{ $fontSize = 10 }}{{ end }}

shell=/usr/bin/fish
font=JetBrains Mono:size={{ $fontSize }}, Symbols Nerd Font:size={{ $fontSize }}, Noto Color Emoji:size={{ $fontSize }}
font-size-adjustment=1
include=/usr/share/foot/themes/gruvbox-dark
line-height={{ mulf $fontSize 1.2 }}
underline-thickness=1
underline-offset=6
# box-drawings-uses-font-glyphs=yes
# dpi-aware=yes # TODO: try this with multimonitor setup
pad={{ if eq .chezmoi.hostname "t14" }}4x4{{ else }}10x8{{ end }}
resize-by-cells=no
resize-keep-grid=no
initial-window-size-chars={{ if eq .chezmoi.hostname "t14" }}80x30{{ else }}160x80{{ end }}
selection-target=clipboard

[bell]
visual=yes

[scrollback]
lines=100000

[url]
label-letters=aoeuidhtns

[mouse]
hide-when-typing=yes

[csd]
size={{ if eq .chezmoi.hostname "blackbox" }}32{{ else }}26{{ end }}
border-width={{ if eq .chezmoi.hostname "blackbox" }}2{{ else }}1{{ end }}

[key-bindings]
scrollback-up-page=none
scrollback-up-half-page=Shift+Page_Up
scrollback-down-page=none
scrollback-down-half-page=Shift+Page_Down
scrollback-home=Shift+Home
scrollback-end=Shift+End

[search-bindings]
find-prev=Control+p
find-next=Control+n

[url-bindings]
toggle-url-visible=k

[colors]
alpha=0.8

# vim: ft=confini
