command = {{ if eq .chezmoi.os "darwin" }}/opt/homebrew/bin/fish -l{{ else }}/usr/bin/fish{{ end }}
shell-integration-features = no-cursor

scrollback-limit = 100000

theme = GruvboxDark
{{ if eq .chezmoi.os "darwin" -}}
alpha-blending = native
window-colorspace = display-p3
{{- end }}

font-family = Jetbrains Mono
font-size = 13
adjust-cell-height = 20%
font-feature = -calt, -liga, -dlig # disable ligatures

macos-option-as-alt = true

keybind = shift+page_up=scroll_page_up
keybind = shift+page_down=scroll_page_down

mouse-hide-while-typing = true
copy-on-select = clipboard

