{{ if lookPath "fish" }}command = {{ lookPath "fish"}}{{ end }}
shell-integration-features = no-cursor

scrollback-limit = 1000000000
scrollbar = never

theme = Gruvbox Dark
{{ if eq .chezmoi.os "darwin" -}}
window-colorspace = display-p3
alpha-blending = native
{{- else -}}
# window-decoration = none
# window-theme = ghostty
# gtk-titlebar-hide-when-maximized = true
gtk-titlebar-style = tabs
{{- end }}

window-width = 100
window-height = 60
{{ if eq .chezmoi.hostname "t14" -}}
window-width = 80
window-height = 30
{{- end }}

{{- $fontSize := 13 }}
{{- if eq .chezmoi.hostname "t14" }}{{ $fontSize = 10 }}{{ end }}

font-family = Jetbrains Mono
font-family = Symbols Nerd Font
font-size = {{ $fontSize }}
font-feature = -calt, -liga, -dlig # disable ligatures

unfocused-split-opacity=0.8

desktop-notifications = false

window-inherit-working-directory = false
tab-inherit-working-directory = true
split-inherit-working-directory = true

quit-after-last-window-closed = true

macos-option-as-alt = true

{{ if eq .chezmoi.os "darwin" -}}
keybind = shift+enter=text:\n
{{- end }}
keybind = ctrl+enter=unbind
keybind = shift+page_up=scroll_page_fractional:-0.5
keybind = shift+page_down=scroll_page_fractional:0.5
keybind = shift+ctrl+w>t=new_tab
keybind = shift+ctrl+w>v=new_split:right
keybind = shift+ctrl+w>s=new_split:down
keybind = shift+alt+c=goto_split:up
keybind = shift+alt+t=goto_split:down
keybind = shift+alt+h=goto_split:left
keybind = shift+alt+n=goto_split:right

mouse-hide-while-typing = true
copy-on-select = clipboard

