{{ if lookPath "fish" }}command = {{ lookPath "fish"}}{{ end }}
shell-integration-features = no-cursor

scrollback-limit = 1000000

theme = GruvboxDark
{{ if eq .chezmoi.os "darwin" -}}
alpha-blending = native
window-colorspace = display-p3
{{- end }}

font-family = Jetbrains Mono
font-family = Symbols Nerd Font
font-size = 13
adjust-cell-height = 20%
font-feature = -calt, -liga, -dlig # disable ligatures

macos-option-as-alt = true

keybind = shift+page_up=scroll_page_up
keybind = shift+page_down=scroll_page_down
# c-tab is bound at the OS level for now...
# keybind = unconsumed:ctrl+tab=unbind
# keybind = unconsumed:ctrl+shift+tab=unbind

mouse-hide-while-typing = true
copy-on-select = clipboard

